Repository Igalia/cog, pull requests merged in 2018-11, with the labels that each got.

#63 gtk: Workaround for WebKitGTK+ bug #150303
  cog.c
Labels: bug, merge:cog-0.1, upstream

#67 Rename DY_DEFAULT_APPID to COG_DEFAULT_APPID and com.igalia.Dinghy1 to com.igalia.Cog1
  dbus/policy.conf.in
Labels: merge:cog-0.1

#68 fdo: Support maximizing the Wayland surface
  platform/cog-platform-fdo.c
Labels: enhancement, merge:cog-0.1
