Repository Igalia/cog, pull requests merged in 2024-08, with the labels that each got.

#729 Set entry->registered to TRUE when custom URI scheme handler is regis…
  core/cog-shell.c
Labels: bug, merge:cog-0.18

#707 Fix documentation of COG_PLATFORM_DRM_VIDEO_MODE
  docs/platform-drm.md
Labels: enhancement

#689 wl: Specify button modifier in listeners
  platform/wayland/cog-platform-wl.c
Labels: bug, enhancement, merge:cog-0.18

#716 core, wl: Factor out view fullscreening
  core/cog-view.c
  core/cog-view.h
  platform/wayland/cog-platform-wl.c
  platform/wayland/cog-view-wl.c
Labels: enhancement
